//////////////////////// COLORS ////////////////////////

$primary-color: #03a9f4;
$accent-color: #ffc107;
$gradient-color-1: #4481eb;
$gradient-color-2: #04befe;
$white-color: #ffffff;

// background-color

$portfolio-bg: #c4e5d9;
$testimonials-bg: #c4e5d9;
$dark-bg: #2b2b2b;
$light-bg: #f2f2f8;

// text-color

$text-dark: #333333;
$text-light: #e5e5e5;

//////////////////////// FONT-SIZE ////////////////////////

$heading-big: 4rem;
$heading-small: 2.2rem;

$text-xl: 2.8rem;
$text-large: 2rem;
$text-medium: 1.7rem;
$text-small: 1.6rem;
